.App {
  box-sizing: border-box;
  max-width: 500px;
  padding: 24px;
  width: 100%;
}

.faq {
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
}

.question {
  font-weight: bold;
  margin-bottom: 4px;
}

.answer {
  font-size: 14px;
}

.answer li {
  margin-bottom: 12px;
}
